@mixin tableCell {
  $className: &;
  height: 48px;
  padding: 0 calc($s_spacer * 4);

  &--sticky {
    position: sticky;
    z-index: 2;
    background-color: s_getAppColor('card');
  }

  &--dense {
    height: 36px;

    &:not(#{className}--noGutters) {
      padding: $s_spacer;
    }
  }

  &--noGutters {
    padding: 0;
  }
}

@mixin tableCellContent {
  flex: 1 0 auto;
  text-align: start;
  white-space: nowrap;

  &--textWrap {
    max-width: 100%;
    white-space: normal;
  }

  &--align {
    &__start {
      text-align: start;
    }

    &__end {
      text-align: end;
    }

    &__center {
      text-align: center;
    }
  }
}
