**/node_modules
.nx
**/dist
**/coverage
**/@types
**/.vscode
**/storybook-static

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env.yarn


.nx/cache
.nx/workspace-data