@use './variables';

@mixin s_layoutTransition() {
  transition-timing-function: variables.$s_layoutTransitionTimingFunction;
  transition-duration: variables.$s_layoutTransitionDuration;
  transition-property: variables.$s_layoutTransitionProperty;
}
