$s_borderRadius: 4px !default;

$s_rounded: () !default;
/* stylelint-disable-next-line scss/map-keys-quotes */
$s_rounded: map-deep-merge(
  (
    0: 0,
    'sm': calc($s_borderRadius / 2),
    null: $s_borderRadius,
    'lg': calc($s_borderRadius * 2),
    'xl': calc($s_borderRadius * 6),
    'pill': 9999px,
    'circle': 50%
  ),
  $s_rounded
);

$s_outlined__borderWidth: 1px !default;
$s_underlined__borderWidth: 3px !default;
