@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$s_fontFamily: system-ui, -apple-system, 'Segoe UI', 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'YuGothic',
  '游ゴシック', 'Helvetica Neue', 'Helvetica', 'Meiryo', 'メイリオ', 'Verdana', 'ＭＳ Ｐゴシック', sans-serif !default;

$s_inputFontFamily: system-ui, 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'YuGothic',
  '游ゴシック', 'Helvetica Neue', 'Helvetica', 'Meiryo', 'メイリオ', 'Verdana', 'ＭＳ Ｐゴシック', sans-serif !default;

$s_heading__fontFamily: system-ui, -apple-system, 'Segoe UI', 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'YuGothic',
  '游ゴシック', 'Helvetica Neue', 'Helvetica', 'Meiryo', 'メイリオ', 'Verdana', 'ＭＳ Ｐゴシック', sans-serif !default;

$s_fontSize: 16px !default;
$s_lineHeight: 1.5 !default;
$s_blockquote__fontSize: 18px !default;
$s_blockquote__fontWeight: 300 !default;
