$s_fontFamily: system-ui, -apple-system, 'Segoe UI', 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'YuGothic',
  '游ゴシック', 'Helvetica Neue', 'Helvetica', 'Meiryo', 'メイリオ', 'Verdana', 'ＭＳ Ｐゴシック', sans-serif !default;

$s_inputFontFamily: system-ui, 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'YuGothic',
  '游ゴシック', 'Helvetica Neue', 'Helvetica', 'Meiryo', 'メイリオ', 'Verdana', 'ＭＳ Ｐゴシック', sans-serif !default;

$s_heading__fontFamily: system-ui, -apple-system, 'Segoe UI', 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'YuGothic',
  '游ゴシック', 'Helvetica Neue', 'Helvetica', 'Meiryo', 'メイリオ', 'Verdana', 'ＭＳ Ｐゴシック', sans-serif !default;

$s_fontSize: 18px !default;
$s_lineHeight: 1.5 !default;
$s_blockquote__fontSize: 18px !default;
$s_blockquote__fontWeight: 300 !default;
