@mixin s_menuContent {
  position: absolute;
  display: inline-block;
  width: min-content;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  contain: content;
}
