@use '../tools';

@mixin s_disabled($isText: false) {
  color: tools.s_getAppColor('text');
  pointer-events: none;
  opacity: 0.5;

  @if $isText {
    background-color: unset;
  } @else {
    background-color: tools.s_getAppColor('disabled');
  }
}
