@use 'sass:map';
@use '../tools';
@use '../variables';
@use './dark';

@mixin s_tile($important: false) {
  @if $important {
    border-radius: 0 !important;
  } @else {
    border-radius: 0;
  }
}

@mixin s_borderRadius($r: null, $important: false) {
  // Key exists within the $rounded variable
  @if map.has-key(variables.$s_rounded, $r) {
    @if $important {
      border-radius: map.get(variables.$s_rounded, $r) !important;
    } @else {
      border-radius: map.get(variables.$s_rounded, $r);
    }
  } @else {
    @if $important {
      border-radius: $r !important;
    } @else {
      border-radius: $r;
    }
  }
}

@mixin s_underlined($color: null, $width: variables.$s_underlined__borderWidth, $important: false) {
  $className: &;

  @if $color {
    @if $important {
      border-bottom: variables.$s_underlined__borderWidth $color solid !important;
    } @else {
      border-bottom: variables.$s_underlined__borderWidth $color solid;
    }
  } @else {
    @if $important {
      border-bottom: $width tools.s_getAppColor('border') solid !important;
    } @else {
      border-bottom: $width tools.s_getAppColor('border') solid;
    }
  }
}

@mixin s_outlined($color: null, $width: variables.$s_outlined__borderWidth) {
  $className: &;
  border-style: solid;
  border-width: $width;

  @if $color {
    @if list.index($s_presetColorNames, $color) {
      border-color: tools.s_getPresetColor($color);
    } @else if tools.s_getAppColor($color) {
      border-color: tools.s_getAppColor($color);
    } @else {
      border-color: $color;
    }
  } @else {
    border-color: tools.s_getAppColor('border');
  }
}

@mixin s_buttonOutlined($width: variables.$s_outlined__borderWidth) {
  $className: &;
  margin: -#{$width};
  color: tools.s_getAppColor('text');
  background-color: transparent;
  border-style: solid;
  border-width: $width;

  @include dark.s_dark(false);

  &[class*='s_textColor'],
  &[style*='color'] {
    border-color: currentcolor;
  }

  &:not([class*='s_textColor'], [style*='color']) {
    border-color: tools.s_getAppColor('border');
  }
}

@mixin s_buttonUnderlined($width: variables.$s_underlined__borderWidth) {
  $className: &;
  color: tools.s_getAppColor('text');
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: $width;

  @include dark.s_dark(false);

  &[class*='s_textColor'],
  &[style*='color'] {
    border-bottom-color: currentcolor;
  }

  &:not([class*='s_textColor'], [style*='color']) {
    border-bottom-color: tools.s_getAppColor('border');
  }
}
