@use '../tools';
@use '../variables';

// used with colorService
@mixin s_dark($fillBackground: true, $isChild: false) {
  @each $themeName in variables.$s_themeNames {
    @if $isChild {
      .s_#{$themeName} {
        color: tools.s_getThemeColor('text', $themeName);

        @if $fillBackground {
          background-color: tools.s_getThemeColor('card', $themeName);
        } @else {
          background-color: inherit;
        }
        fill: tools.s_getThemeColor('text', $themeName);
      }
    } @else {
      &.s_#{$themeName} {
        color: tools.s_getThemeColor('text', $themeName);

        @if $fillBackground {
          background-color: tools.s_getThemeColor('card', $themeName);
        } @else {
          background-color: inherit;
        }
        fill: tools.s_getThemeColor('text', $themeName);
      }
    }
  }
}
