@mixin s_createUtility($utility, $infix) {
  $name: map.get($utility, 'name');
  $modifier: map.get($utility, 'modifiers');
  $properties: map.get($utility, 'properties');
  $unimportants: map.get($utility, 'unimportants');
  $responsive: map.get($utility, 'responsive');

  .s_#{$name + $infix} {
    @if ((not $responsive and not $infix) or $infix) {
      @each $modifier in $modifier {
        @each $property in $properties {
          @if type-of($property) == 'string' or type-of($property) == 'number' {
            &__#{$property} {
              #{$modifier}: $property if(index($unimportants, $modifier), null, !important);
            }
          } @else {
            $propertyName: list.nth($property, 1);
            $propertyValue: list.nth($property, 2);

            &__#{$propertyName} {
              #{$modifier}: $propertyValue if(index($unimportants, $modifier), null, !important);
            }
          }
        }
      }
    }
  }
}

@mixin s_createUtilities() {
  @each $breakpoint in map-keys($s_gridBreakpoints) {
    // Generate media query if needed
    @include s_breakpointUp($breakpoint) {
      $infix: s_breakpointInfix($name: $breakpoint, $breakpoints: $s_gridBreakpoints);

      // Loop over each utility property
      @each $key, $utility in $s_utilities {
        /* stylelint-disable-next-line max-nesting-depth */
        @if type-of($utility) == 'map' and (map.get($utility, responsive) or $infix == '') {
          @include s_createUtility($utility: $utility, $infix: $infix);
        }
      }
    }
  }

  // @media print {
  //   @each $key, $utility in $s_utilities {
  //     @if type-of($utility) == 'map' and map.get($utility, print) == true {
  //       @include s_createUtility($utility: $utility, $infix: '-print');
  //     }
  //   }
  // }
}
