@import '@khsura/sui/styles/variables/grid';

:export {
  breakpointXs: $s_breakpointXs;
  breakpointSm: $s_breakpointSm;
  breakpointMd: $s_breakpointMd;
  breakpointLg: $s_breakpointLg;
  breakpointXl: $s_breakpointXl;
  breakpointXxl: $s_breakpointXxl;
}