@use '../variables';

:export {
  breakpointXs: variables.$s_breakpointXs;
  breakpointSm: variables.$s_breakpointSm;
  breakpointMd: variables.$s_breakpointMd;
  breakpointLg: variables.$s_breakpointLg;
  breakpointXl: variables.$s_breakpointXl;
  breakpointXxl: variables.$s_breakpointXxl;
}